@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

input:focus {
    outline: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}

.header-line {
    width: 100%;
    height: 1px;
    background: #DDDDDD;
}

.main-text {
    max-width: 390px;
}

.main-btn {
    color: #7875FE;
    border: 1px solid #7875FE;
    width: 255px;
    height: 70px;
    background-color: transparent;
    transition: all 0.5s ease;

    &:hover {
        opacity: 0.8;
    }
}

.gray-block {
    background: #EBEBEB;
    padding: 2rem;
}

.tab-content {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    object-fit: contain;
    width: 100%;
    height: 135px;
    margin: 90px 0;
}

.footer-blue {
    background: #4C5866;
}

.navbar-toggler {
    border: none;
    padding: 0.25rem 0.5rem;
}

.navbar-toggler:focus {
    box-shadow: none;
}

@media (max-width: 1024px) {
    .main-block {
        padding: 50px 0 20px 0;
        flex-direction: column-reverse !important;
    }

    .book-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }
}

@media (max-width: 768px) {
    .gray-block {
        padding: 1.5rem 1rem;
    }

    .carousel-item img {
        margin: 40px 0;
        height: 100px;
    }

    .main-btn {
        width: 100%;
        max-width: 255px;
    }

    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 375px) {
    .main-text {
        max-width: 100%;
        padding: 0 10px;
    }
}